body{
    font-family: 'nexa_scriptlight';
    font-size: larger;
    padding: 1em;
    background-image: url(../images/paint.jpeg);
}

h1{
    font-family: 'nexa_scriptheavy';
    font-size: 3.5em;
    padding: 0.1em;
}

section{
    padding: 1em;
    width: 43em;
}

aside{
    position: fixed;
    right: 1em;
    top: 4em;
    width: 160px;
    height: 600px;
}

form{
    margin-top: 1em;
}

input,textarea{
    margin-top: 1em;
    width: 43em;
}

@media screen and (max-device-width: 1081px){
    input,textarea{
        width: 12em;
    }
    section{
        width: auto;
    }
    aside{
        position: static;
    }
}