<div  id="homeContainer">
  <div class="col-lg-9 topBar">
    <p>
      <form>
        <p><input type="text" id="hallucinationTitle" placeholder="the title of your dream"></input></p>
        <p><textarea id="hallucinationText" placeholder="your dream text"></textarea></p>
        <p><button id="saveButton">save</button></p>
      </form>
    </p>
  </div>
  <div>
    <ul id="hList">
      <li ng-repeat="h in hData track by $index">
        <div>
          <h3>{{h.title}}</h3>
          <p>{{h.text}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<aside class="col-lg-3 col-lg-pull-3">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- see.through.glass -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6458298285737303"
       data-ad-slot="8449774206"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</aside>