<div  id="homeContainer">
  <div class="col-lg-12 topBar">
    <p>
      <form>
        <p><input type="text" id="hallucinationTitle" placeholder="the title of your dream"></input></p>
        <p><textarea id="hallucinationText" placeholder="your dream text"></textarea></p>
        <p><button id="saveButton">save</button></p>
      </form>
    </p>
  </div>
  <div>
    <ul id="hList">
      <li ng-repeat="h in hData track by $index">
        <div>
          <h3>{{h.title}}</h3>
          <p>{{h.text}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
